


inline-block {
    display: inline-block;
    vertical-align: top;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 20px;
    text-align: center;
}
.logo {
    width: 23%;
    padding: 10%;
    text-align: center;
    margin: 10px;

}
header button{
    position: right;
    float: right;
    margin: 10px;
    padding: 10px;
    background-color: #24236E;
    color: #ffffff;
    border-radius: 4px;
    transition-duration: 0.4s;
}
header button:hover{
    background-color: #6261df; 
    color: white;
}


header h1{
    display: inline;
    position: center;
    font-size: 24pt;
    margin-bottom: 10px;
}


.heroimg{
    display:flex;
    flex-direction: row;
    height: 600px;
    width: 1000px;
    padding: 25px;
    margin-left:  auto;
    margin-right: auto;
    grid-template-rows: 75%;
}

.content{
    width: 500px;
    margin: 0 auto;

}
.heroimg p{
    display: inline-block;
    margin: 25px 10px;
}
.heroimg button{
    margin: 25px 10px;
    padding: 10px;
    background-color: #24236E;
    color: #ffffff;
    border-radius: 4px;
    transition-duration: 0.4s;
}
.heroimg button:hover{
    background-color: #6261df; 
    color: white;
}

footer{
    background-color: #958EEF;
   text-align: center;
}

.flexContainer{
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
    padding: 1%;
    background-color: #958EEF;
    color: #FFFFFF;
    
}
.bs{
    margin-right: 100px;
}

.project1{
    margin-bottom: 200px;
    margin-left: 300px;
    margin-right: 300px;
}
.project2{
    margin-bottom: 200px;
    margin-left: 300px;
    margin-right: 300px;
}
.workGrid{
    display: flex;
    flex-direction:column;
    margin: 10px;
    grid-template-rows: 300px 300px;

}
.workGrid button{
    background-color: #24236E;
    color: #ffffff;
    border-radius: 4px;
    transition-duration: 0.4s;
}
.workGrid button:hover{
    background-color: #6261df; 
    color: white;

}

.mySkills h1{
    padding: 10px;
    font-size: 48pt;
}

.myWork h1{
    font-size: 48pt;
}
.myWork h4{
    font-size: 32pt;
}
.myWork p{
    font-size: 18pt;
}




@media only screen and (max-width: 600px) {
    .flexContainer{
        flex-direction: column;
        width:100%
    }
  }